@media(max-width: 1250px){
  .benefits__images{
    width: 40%;
  }
}
@media(max-width: 1140px){
  .rent__inner{
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .rent__content{
    width: 100%;
    margin-bottom: 30px;
  }
}

@media(max-width: 1000px){
  .benefits__content{
    width: 100%;
    margin-top: 30px;
  }
  .benefits__items{
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .benefits__text + benefits__text{
    width: 100%;
  }
  .footer .menu{
    display: none;
  }
}

@media(max-width: 860px){
  .footer,
  .feedback,
  .reviews,
  .benefits,
  .rent{
    padding: 50px 0;
  }
  .rent__item{
    margin: 30px;
  }
  .feedback__imaged{
    display: none;
  }
}
@media(max-width: 650px){
  .rent__content{
    text-align: center;
  }
  .rent__item{
    width: 100%;
    margin: 245px;
  }
  .rent__item-title{
    margin-bottom: 20px;
  }  
}

@media(max-width: 525px){
  .benefits__list{
    width: 100%;
  }
  .benefits__images{
    width: 70%;
  }
  .benefits__list-item{
    margin-right: 0;
    text-align: left;
    padding-right: 0;
    padding-left: 26px;
  }
  .benefits__list-item:nth-child(4){
    margin-right: 0;
  }
  .benefits__list-item::after{
    right: auto;
    left: 0;
  }
}
@media(max-width: 450px){
  .footer__top{
    flex-direction: column;
    align-items: center;
  }
  .footer .phone{
    margin-top: 30px;
    display: inline-block;
  }
}
@media(max-width: 410px){
  .rent__item{
    margin: 30px 0;
  }
}
